

/* page title  */
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-size: 2.5em;
  font-family: "Lora", serif;
  font-size: 3rem;
font-weight:700
}

/* Description */
.description {
  color: #6c757d;
  font-size: 2.5em;
  font-size: 3rem;
  color: #6c757d;
  font-family: Calibri, sans-serif;
  font-weight:700
}

/* subtitle */
.subtitle {
  color: #6c757d;
  font-family: Calibri, sans-serif;
  font-weight:700;
  font-size: 1.1em;
}

p {
  color: black;
  font-family: Calibri, sans-serif;
  font-size: 1.1em;
}